<div class="card">
  <div class="card-header">
    Nova categoria
  </div>
  <div class="card-body">

    <form action="/admin/categorias/nova" method="POST" class="row g-3">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome">
      </div>
      <div class="col-md-6">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Criar categoria</button>
      </div>
    </form>

  </div>
</div>


