<div class="h-100 p-5 bg-light border rounded-3">
  <h1 class="display-5">Bem vindo à administração</h1>
  <p>Aqui você pode gerenciar o seu Blog do Node</p>
</div>

<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categorias</h5>
        <p class="card-text">Cadastre todas as categorias para organizar suas postagens.</p>
        <a href="/admin/categorias" class="btn btn-dark">Ir para categorias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Postagens</h5>
        <p class="card-text">Crie postagens agora mesmo.</p>
        <a href="/admin/categorias" class="btn btn-dark">Ir para postagens</a>
      </div>
    </div>
  </div>
</div>