{{#if mensagemSucesso}}
  <div class="alert alert-success">
    <div class="container">
      {{mensagemSucesso}}
    </div>
  </div>
{{/if}}

{{#if mensagemErro}}
  <div class="alert alert-danger">
    <div class="container">
      {{mensagemErro}}
    </div>
  </div>
{{/if}}