{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cadastro de usuário</h5>
    <h6 class="card-subtitle mb-2 text-muted">Preencha os dados e se torne um membro do Blog do Node</h6>
    <form action="/usuario/salvar" method="post" class="row g-3 mt-2">
      <div class="col-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome completo" required>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="col-md-6">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>
      <div class="col-md-6">
        <label for="senha2" class="form-label">Repita a sua senha</label>
        <input type="password" class="form-control" id="senha2" name="senha2" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Criar</button>
      </div>
    </form>
  </div>
</div>


